<div class="content-container">
  <div class="input-form-container subcontainer">
    <app-input-form (searchResults)="searchResults = $event" (searchedPhrase)="searchedPhrase = $event"
      (replaceString)="allStringsToReplace = $event" (replaceStringFirst)="replaceStringFirst = $event">
    </app-input-form>
  </div>
  <div class="list-container subcontainer" *ngIf="searchResults.length > 0">
    <app-list-component [searchResults]="searchResults" [searchedPhrase]="searchedPhrase"
      [allStringsToReplace]="allStringsToReplace" [replaceStringFirst]="replaceStringFirst"></app-list-component>
  </div>
</div>
